# Python / ML team ignores
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
ml-team/datasets/*
!ml-team/datasets/.gitkeep

# Blockchain / Fabric ignores
*.log
blockchain-team/fabric/test-network/organizations/peerOrganizations/
blockchain-team/fabric/test-network/organizations/ordererOrganizations/
blockchain-team/fabric/test-network/channel-artifacts/